.st-font {
    font-family: 'Satisfy', cursive;
}

html, body {
    height: 100%;
}

.container-fluid {
    min-height: 100%;
}

.icon-color {
    color: lawngreen;
}

.icon-description-color {
    color: silver;
}

a.nav-link {
    color: whitesmoke;
}

a.nav-link:hover {
    color: black;
    background-color: lightgoldenrodyellow;
}

a.nav-link.active {
    color: black;
    background-color: gold;
    font-weight: bold;
}