{% extends 'core/base.html' %}
{% block title %}
    Skill
{% endblock title %}

{% block content %}
    <div class="container">
        <H1 class="text-warning border-bottom border-warning mt-5">SKILLS</H1>
        <div class="row text-white">
            <div class="col-sm-5">
                <h3>HTML</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 100%" aria-valuemin="0"
                         aria-valuemax="100">100%
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <h3>Javascript</h3>
                <div class="progress">
                    <div class="progress-bar  progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 95%" aria-valuemin="0"
                         aria-valuemax="95">95%
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-white">
            <div class="col-sm-5">
                <h3>CSS</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 85%" aria-valuemin="0"
                         aria-valuemax="85">85%
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <h3>Python</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated  bg-danger" role="progressbar" style="width: 75%" aria-valuemin="0"
                         aria-valuemax="75">75%
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-white">
            <div class="col-sm-5">
                <h3>Django</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 89%" aria-valuemin="0"
                         aria-valuemax="89">89%
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <h3>React</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 75%" aria-valuemin="0"
                         aria-valuemax="75">75%
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}